name: Cancel Workflows

on:
  push:
    branches-ignore:
      - master

jobs:
  cancel:
    runs-on: ubuntu-latest
    timeout-minutes: 2

    steps:
      - uses: styfle/cancel-workflow-action@0.11.0
        with:
          all_but_latest: true
          workflow_id: code-quality.yml, codeql-analysis.yml, docs.yml
          access_token: ${{ github.token }}
