---
name: code-quality
on:
  push:
    branches:
      - main
  pull_request:
env:
  CI: true

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version-file: .nvmrc
          cache: npm

      - name: Install dependencies
        run: npm install

      - name: Run linters
        run: npm run lint

  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version-file: .nvmrc
          cache: npm

      - name: Install dependencies
        run: npm install

      - name: Run tests
        env:
          OPENSEA_API_KEY: ${{ secrets.OPENSEA_API_KEY }}
        run: npm run test

  test-integration:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version-file: .nvmrc
          cache: npm

      - name: Install dependencies
        run: npm install

      - name: Run integration tests
        env:
          OPENSEA_API_KEY: ${{ secrets.OPENSEA_API_KEY }}
          ALCHEMY_API_KEY: ${{ secrets.ALCHEMY_API_KEY }}
          WALLET_PRIV_KEY: ${{ secrets.WALLET_PRIV_KEY }}
          SELL_ORDER_CONTRACT_ADDRESS: ${{ secrets.SELL_ORDER_CONTRACT_ADDRESS }}
          SELL_ORDER_TOKEN_ID: ${{ secrets.SELL_ORDER_TOKEN_ID }}
        run: npm run test:integration

  test-earliest-node-engine-support:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 16.0.0 # specified in the package.json engines.node field
          cache: npm

      - name: Install dependencies
        run: npm install

      - name: Run tests
        env:
          OPENSEA_API_KEY: ${{ secrets.OPENSEA_API_KEY }}
        run: npm run test
