---
name: code-quality
on:
  push:
    branches:
      - master
  pull_request:
env:
  CI: true

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: "16.11.0"
          cache: yarn

      - name: Install dependencies
        run: yarn install --immutable --ignore-scripts
      - name: Gen ABI
        run: yarn abi-type-gen
      - name: Run linters
        run: yarn lint:check

  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: "16.11.0"
          cache: yarn

      - name: Install dependencies
        run: yarn install --immutable --ignore-scripts
      - name: Gen ABI
        run: yarn abi-type-gen
      - name: Run tests
        env:
          API_KEY: ${{ secrets.API_KEY }}
          COVERALLS_REPO_TOKEN: ${{ secrets.COVERALLS_REPO_TOKEN }}
        run: |
          yarn test
          yarn coverage-report
